.carousel-indicators li {
    background-color: #337ab7 !important;
}

.carousel-indicators .active {
    background-color: #4cb034 !important;
}

#homecarousel img{
    height: 270px;
    width: auto;
}

/* align img in carousel center*/
.carousel-inner > .item > img {
    margin: 0 auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;
    text-align: center;
}

.row-content .media-heading .fa {
    font-size: 80px;
}

.carousel .carousel-indicators {
    bottom: 0px;
}

.carousel .carousel-caption {
    color: #20398a;
    text-shadow: 2px 2px #f5f5f5;
    padding-bottom: 0px;
    text-align: left;
}

.carousel-caption p {
    font-size: 120%;
}

nav.navbar{
    padding: 0px;
    margin-bottom: 0px;
}

nav.navbar ul li a {
    padding: 5px;
}

/* accordian slider css start here.*/

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5 -> 4
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything -> 152
so total container width = 640 + 40*4 = 800px -> 1095;
default width = 800/5 = 160px; -> 274
*/

.row .accordian{
    padding-left: 0px;
    padding-right: 0px;
}

.accordian {
	width: 1095px;
    height: 270px;
	overflow: hidden;

	/*Time for some styling*/
	margin-top: 30px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
    padding: 0px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 274px;
	float: left;
	padding: 0px;
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 152px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
    width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

/* accordian slider end here.*/