.carousel-indicators li {
    background-color: #337ab7 !important;
}

.carousel-indicators .active {
    background-color: #ffff99 !important;
}

#homecarousel img{
    height: 220px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;
    text-align: center;
}

.row-content .media-heading .fa {
    font-size: 80px;
}
