
.footer {
    /*height: 120px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footer p {
    display: block;
    text-align: center;
}

.footer ul li{
    border: none;
    background-color: inherit;
    padding: 5px 15px;
}

.glyphicon {
    font-size: 20px;
    padding-right: 3px;
}

nav strong {
    /*color: #b92c28;*/
    font-size: 18px;
}

.main-row {
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/*nav.row, .main-row, .foot-row {
    margin-left: 0;
    margin-right: 0;
}*/

.nav-content{
    padding-top: 8px;
}

.navbar {
    margin-bottom: 0px !important;
}

.nav-home {
    padding-left: 0px;
}

.nav-home ul li a {
    padding: 2px;
}

nav.navbar-top {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

li.heading {
    background-color: antiquewhite;
}

@media (min-width: 992px) {
  .container {
    width: 1500px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1500px;
  }
}

/* maga memu */
.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
  width:100%;
}
/*.mega-dropdown > a {
    left: 850%;
}*/
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 400%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
