
.footer {
    /*height: 120px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footer ul li{
    border: none;
    background-color: inherit;
    padding: 5px 15px;
}

.glyphicon {
    font-size: 20px;
    padding-right: 3px;
}

nav strong {
    color: #b92c28;
    font-size: 18px;
}

.main-row {
    padding-top: 120px;
}

.nav-content{
    padding-top: 10px;
}

/*
.affix {
    top:70px;
}*/

nav.navbar-fixed-top {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

li.heading {
    background-color: antiquewhite;
}

#loginModal label {
    font-weight: normal !important;
}